@media all and (max-width: 1675px){
    .about-right-div {
        margin-left: 100px;
    }
    .gallery-container > div > div {
        width: 400px;
        height: 300px;
    }
    .gallery-container > div {
        width: 400px;
        height: 310px;
        margin: 10px;
    }
    .left-align-featured-project-right1 {
        width: 640px;
        height: 370px;
    }
    .right-align-featured-project-left1 {
        width: 640px;
        height: 370px;
    }
    .left-align-featured-project-right2 {
        width: 640px;
        height: 340px;
    }
    .right-align-featured-project-left2 {
        width: 640px;
        height: 370px;
    }
}
@media all and (max-width: 1610px){
    .about-image2 {
        width: 430px;
        height: 300px;
    }
    .about-image1 {
        width: 315px;
        height: 420px;
    }
    .about-image-middle {
        left: 288px;
    }
}
@media all and (max-width: 1600px){
    .gallery-container > div {
        width: 384px;
        height: 288px;
        margin: 8px;
    }
    .gallery-container > div > div {
        width: 382px;
        height: 288px;
    }
}
@media all and (max-width: 1550px){

    .service-list div {
        width: 330px;
        padding: 60px;
        font-size: 16px;
    }
    .about-image2 {
        width: 400px;
        height: 302px;
    }
    .about-image1 {
        width: 300px;
        height: 415px;
    }
    .about-image-middle {
        left: 250px;
    }
    .other-projects-content {
        gap: 20px;
        margin-top: 8%;
    }
}
@media all and (max-width: 1550px){
    .gallery-container > div > div {
        width: 360px;
        height: 288px;
    }
    .gallery-container > div {
        width: 360px;
        height: 288px;
        margin: 10px;
    }
    .about-image2 {
        width: 400px;
        height: 302px;
        z-index: -1;
    }
}
@media all and (max-width: 1550px){
    .service-list div {
        width: 315px;
        padding: 60px;
        font-size: 16px;
    }
    .container {
        max-width: 1000px;
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .left-align-featured-project-right1 {
        width: 640px;
        height: 300px;
    }
    .right-align-featured-project-left1 {
        width: 640px;
        height: 300px;
    }
    .left-align-featured-project-right2 {
        width: 640px;
        height: 285px;
    }
    .right-align-featured-project-left2 {
        width: 640px;
        height: 320px;
    }
    .other-projects-content {
        gap: 15px;
        margin-top: 8%;
    }
    .other-project-card {
        width: 340px;
        height: 390px;
        padding: 25px;
    }
    .about-content-boxes >div {
        width: 200px;
        height: 190px;
    }
    .about-right-div {
        margin-left: 10px;
    }
    .about-image2 {
        /*width: 400px;*/
        /*height: 302px;*/
        z-index: 0;
    }
}
@media all and (max-width: 1450px){
    .about-image-bg-div {
        position: relative;
        left: -20px;
        z-index: -2;
    }
    .about-image-div {
        position: absolute;;
        left: -40px;
        z-index: -1;
    }
    .gallery-container > div {
        width: 355px;
        height: 288px;
        margin: 4px;
    }
    body .galary {
        height: 1500px;
    }
}

@media all and (max-width: 1420px){
    .left-socials {
        margin-left: 0;
    }
}
@media all and (max-width: 1380px){
    .service-list {
        grid-gap: 25px;
    }
    .service-list div {
        width: 300px;
        padding: 70px;
        font-size: 15px;
    }
    .other-projects-content {
        gap: 7px;
    }
    .other-project-card {
        width: 325px;
        height: 392px;
        padding: 27px;
    }
    .about-left-div>h1 {
        font-size: 30px;
    }
    .about-left-div>h3 {
        font-size: 14px;
    }
    .about-image1 {
        width: 280px;
        height: 400px;
    }
    .about-image2 {
        width: 360px;
        height: 260px;
        left: 190px;
        z-index: -1;
    }
    .about-image-middle {
        left: 235px;
    }
    .gallery-container > div > div {
        width: 335px;
        height: 280px;
    }
    .gallery-container > div {
        width: 334px;
        height: 280px;
    }
    #contact input, textarea {
        width: 125%;
    }
    .button {
        width: 120px;
        height: 60px;
    }
}
@media all and (max-width: 1350px) {
    #home-subtitle {
        font-size: 60px;
    }
    .about-image-bg-div {
        position: relative;
        left: -40px;
        z-index: -2;
    }

    .about-image-div {
        position: absolute;;
        left: -60px;
        z-index: -1;
    }
    .left-align-featured-project-right1 {
        width: 640px;
        height: 270px;
    }
    .right-align-featured-project-left1 {
        width: 640px;
        height: 240px;
    }
    .left-align-featured-project-right2 {
        width: 640px;
        height: 220px;
    }
    .right-align-featured-project-left2 {
        width: 640px;
        height: 285px;
    }
}
@media all and (max-width: 1300px) {
    .left-socials {
        margin-left: -10px;
    }
}
@media all and (max-width: 1280px) {
    .gallery-container > div {
        width: 384px;
        height: 281px;
        margin: 23px;
    }
    .gallery-container > div > div {
        width: 386px;
        height: 284px;
    }
    .testimoinal-section {
        margin: 55% 15% 0 20%;
    }
    .about-image1 {
        width: 250px;
        height: 370px;
    }
    .about-right-div {
        margin-left: 5px;
    }
    .about-image-middle {
        left: 190px;
    }
    .about-image2 {
        width: 340px;
        height: 250px;
        left: 163px;
    }
    .about-image-div {
        position: absolute;
        left: -90px;
    }
    .about-image-bg-div {
        position: relative;
        left: -60px;
    }
}
@media all and (max-width: 1250px) {
    #home-subtitle {
        font-size: 50px;
    }
    .about-section-content-left {
        width: 513px;
    }
    .other-project-card {
        width: 320px;
    }

}
@media all and (max-width: 1220px) {
    .service-list div {
        width: 300px;
        padding: 65px;
        font-size: 15px;
    }
    .container {
        max-width: 978px;
    }
    .left-socials {
        margin-left: -25px;
    }
    .about-left-div {
        width: 425px;
    }

}
@media all and (max-width: 1180px) {
    .other-projects-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 7%;
    }
    .other-projects {
        margin-left: 5%;
    }
    .about-image2 {
        width: 330px;
        height: 255px;
        left: 150px;
        z-index: -1;
    }
    .about-right-div {
        margin-top: 10%;
        margin-left: 7px;
    }
    .about-section-content-right {
        margin-left: -40%;
        margin-top: -40%;
    }
    .about-section-content-left {
        width: 512px;
        margin-top: 47%;
        margin-left: 10%;
    }
    .about-image-div {
        width: 360px;
        height: 360px;
    }
    .about-image-bg-div {
        width: 360px;
        height: 365px;
    }
    .service-list {
        grid-gap: 20px;
        margin-left: 20%;
    }
    .service-list div {
        width: 301px;
        padding: 56px;
        font-size: 15px;
    }
    .about-content-boxes {
        gap: 20px;
        margin-top: 90%;
    }
    .about-right-div {
        margin-top: 15%;
        margin-left: -12%;
    }
}
@media all and (max-width: 1136px) {
    .home-section h1 {
        font-size: 88px;
    }
    #home-subtitle {
        font-size: 46px;
    }
    .testi {
        max-width: 850px;
        margin: 0 auto;
    }
    #contact .sub-title {
        width: 500px;
    }
}
@media all and (max-width: 1100px) {
    .home-section h1 {
        font-size: 82px;
    }
    #home-subtitle {
        font-size: 42px;
    }
    .about-section-content-left {
        margin-top: 55%;
    }
    .testimoinal-section {
        margin: 55% 12% 0 20%;
    }
}

@media all and (max-width: 1050px) {
    .about-right-div {
        margin-top: 40%;
        margin-left: -51%;
    }
    .about-content-boxes {
        gap: 20px;
        margin-left: 66%;
        margin-top: 7%;
    }
    .about-right-div {
        margin-top: 50%;
        margin-left: -51%;
    }
    body .galary > h1 {
        margin-top: -5%;
    }
    .gallery-container > div {
        margin: 5px;
    }
}
@media all and (max-width: 1035px) {
    .other-project-card {
        width: 300px;
    }
}
@media all and (max-width: 1015px) {
    .home-section h1 {
        font-size: 77px;
    }
    #home-subtitle {
        font-size: 40px;
    }
    .about-section {
        margin: 15% 0 20% 17%;
    }
    .other-project-card {
        width: 275px;
        height: 400px;
        padding: 33px;
    }
}

@media all and (max-width: 999px) {
    .about-right-div {
        margin-top: 53%;
        margin-left: -55%;
    }
    .gallery-container > div {
        width: 360px;
        height: 285px;
    }
    .testi {
        max-width: 770px;
        margin: 0 auto;
    }
    .service-list div {
        width: 290px;
        padding: 40px;
        font-size: 15px;
    }
    .service-list {
        grid-gap: 10% 0%;
        margin-left: 20%;
    }
}

@media all and (max-width: 950px) {
    .about-image-div {
        width: 340px;
        height: 340px;
    }
    .about-image-bg-div {
        width: 340px;
        height: 350px;
    }
    .home-section h1 {
        font-size: 72px;
    }
    .home-section h1 {
        font-size: 72px;
    }
    .home-section p {
        font-size: 17px;
        width: 650px;
    }
    .home-section>.button {
        width: 150px;
    }
    .button {
        width: 100px;
        height: 55px;
    }
    nav > ul {
        gap: 20px;
    }
    #my_service {
        font-size: 55px;
    }
    .service-list {
        grid-gap: 6% 0%;
    }
}
@media all and (max-width: 899px) {

    .about-section-content-right {
        margin-left: -49%;
        margin-top: -48%;
    }
    .about-right-div {
        margin-top: 56%;
        margin-left: -65%;
    }
    .about-content-boxes {
        margin-left: 58%;
    }
    .gallery-container > div {
        width: 330px;
    }
    .gallery-container > div > div {
        width: 330px;
    }
    .testi {
        max-width: 650px;
    }
    .testi .aside p {
        font-size: 11px;
    }
    .testi .aside .name p {
        font-size: 11px;
    }
    .testi .aside > p::before, .testi .aside > p::after {
        font-size: 50px;
    }
    .service-list div {
        width: 260px;
        padding: 28px;
        font-size: 15px;
    }

}


