@media all and (max-width: 1675px){
    .about-right-div {
        margin-left: 100px;
    }
    .gallery-container > div > div {
        width: 400px;
        height: 300px;
    }
    .gallery-container > div {
        width: 400px;
        height: 310px;
        margin: 10px;
    }
    .left-align-featured-project-right1 {
        width: 640px;
        height: 370px;
    }
    .right-align-featured-project-left1 {
        width: 640px;
        height: 370px;
    }
    .left-align-featured-project-right2 {
        width: 640px;
        height: 340px;
    }
    .right-align-featured-project-left2 {
        width: 640px;
        height: 370px;
    }
}
@media all and (max-width: 1610px){
    .about-image2 {
        width: 430px;
        height: 300px;
    }
    .about-image1 {
        width: 315px;
        height: 420px;
    }
    .about-image-middle {
        left: 288px;
    }
}
@media all and (max-width: 1600px){
    .gallery-container > div {
        width: 384px;
        height: 288px;
        margin: 8px;
    }
    .gallery-container > div > div {
        width: 382px;
        height: 288px;
    }
}
@media all and (max-width: 1550px){

}



